/*white cube*/
.c1 {
    height: 64px;
    width: 64px;
    background-image: url(../isometria/img/1.gif);
}


/*red cube*/
.c2 {
    height: 64px;
    width: 64px;
    background: url(../isometria/img/2.gif);
}


/*log cube*/
.c3 {
    height: 64px;
    width: 64px;
    background: url(../isometria/img/3.gif);
}


/*arch 1*/
.c30 {
    height: 64px;
    width: 64px;
    background: url(../isometria/img/30.gif);
}


/*arch 2*/
.c31 {
    height: 64px;
    width: 64px;
    background: url(../isometria/img/31.gif);
}


/*pyramid*/
.c20 {
    height: 128px;
    width: 64px;
    background: url(../isometria/img/20.gif);
    transform: translateY(-64px);
}

/*stairs 1*/
.c101 {
    height: 64px;
    width: 64px;
    background: url(../isometria/img/101.gif);
}

/*stairs 2*/
.c102 {
    height: 64px;
    width: 64px;
    background: url(../isometria/img/102.gif);
}

/*stairs 3*/
.c103 {
    height: 64px;
    width: 64px;
    background: url(../isometria/img/103.gif);
}
